<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/academics_styling.css">

    <%- include ("../partials/header") %>

    <div id="container">
        <div id="notactive">Not Active</div>
        <div id="containsform">
            <div class="row2">
                <div class="column2 left2">
                    <button class="button51">
                        <div class="column21 left21"> <a href="/form/personal"> Personal Details </a> </div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="column2 mid2">
                    <button class="button5"
                        style="margin-left: 0px; background-image: linear-gradient(-90deg,#FF0D6F,#FFB20A); color: white;">
                        <div class="column21 left21"> <a href="/form/academic"> Academic Details </a> </div>
                        <div class="column21 right21">
                            <div class="draft">Draft</div>
                        </div>
                    </button>
                </div>
                <div class="column2 right2">
                    &nbsp&nbsp
                    <button class="button51">
                        <div class="column21 left21"> <a href="/form/file/">Submission</a> </div>
                        <div class="column21 right21">
                            <div></div>
                        </div>
                    </button>
                </div>
                <div class="container1">
                    <form method="" action="">
                        <label>University/Institition</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div class="selected" id="uni1">
                            <img src="/images/Polygon%203.png" id="downarrow">
                            <img src="/images/Polygon%204.png" id="uparrow">
                            <ul id="lis1">
                                <li id="country">Select</li>
                            </ul>
                        </div>
                        <div class="selectbox">
                            <div class="options-container">
                                <div class="options">
                                    <label for="india">Maharaja Surajmal Institute of Technology</label>
                                    <input type="radio" class="radio" id="india" name="country">
                                </div>
                                <div class="options">
                                    <label for="Bangladesh">Bharatiye Vidhyapeeth Institute of Technology</label>
                                    <input type="radio" class="radio" id="Bangladesh" name="country">
                                </div>
                                <div class="options">
                                    <label for="Bhutan">Maharaja Agrasen Institute of Technology</label>
                                    <input type="radio" class="radio" id="Bhutan" name="Bhutan">
                                </div>
                                <div class="options">
                                    <label for="UK">Indian Institute of Technology</label>
                                    <input type="radio" class="radio" id="UK" name="UK">
                                </div>
                                <div class="options">
                                    <label for="England">Netaji Subhash Institute of Technology</label>
                                    <input type="radio" class="radio" id="England" name="England">
                                </div>
                            </div>
                        </div>
                        <label>Course/Descipline</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div class="selected1">
                            <img src="/images/Polygon%203.png" id="downarrow1">
                            <img src="/images/Polygon%204.png" id="uparrow1">
                            <ul id="lis2">
                                <li id="country1">Select</li>
                            </ul>
                        </div>
                        <div class="selectbox1">
                            <div class="options-container1">
                                <div class="options1">
                                    <label for="india">Course</label>
                                    <input type="radio" class="radio1" id="india" name="country">

                                </div>
                                <div class="options1">
                                    <label for="Bangladesh">Course</label>
                                    <input type="radio" class="radio1" id="Bangladesh" name="country">
                                </div>
                                <div class="options1">
                                    <label for="Bhutan">Course</label>
                                    <input type="radio" class="radio1" id="Bhutan" name="Bhutan">
                                </div>
                                <div class="options1">
                                    <label for="UK">Course</label>
                                    <input type="radio" class="radio1" id="UK" name="UK">
                                </div>
                                <div class="options1">
                                    <label for="England">Course</label>
                                    <input type="radio" class="radio1" id="England" name="England">
                                </div>
                            </div>
                        </div>
                        <label>Course duration</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="date" name="" class="textbox2" style="margin-right: 20px; margin-left: px;"> To
                        <input type="date" name="" class="textbox2"><br>
                        <label id="shift">Classroom shift</label>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="button" name="" class="textbox2" id="morning" value="Morning">&nbsp<input
                            type="button" name="" class="textbox2" id="evening" value="Evening">&nbsp<input
                            type="button" name="" class="textbox2" id="home" value="Home">&nbsp<input type="button"
                            name="" class="textbox2" id="pg" value="PG">&nbsp<input type="button" name=""
                            class="textbox2" id="hostel" value="Hostel">
                        <br>
                        <label>UID/Enrollment number</label>&nbsp
                        <input type="text" name="" id="enroll" placeholder="Enter" class="textbox2">
                        <input type="button" name="" id="donthave" class="textbox2" value="I Don't have">
                        <br>
                        <br>
                        <button type="submit" class="save"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#evening").click(function () {
                $("#evening").css("background-color", "#989898");
                $("#evening").css("color", "white");
                $("#morning").css("background-color", "#F9F9F9")
                $("#morning").css("color", "#989898")
            })
            $("#morning").click(function () {
                $("#morning").css("background-color", "#989898");
                $("#morning").css("color", "white");
                $("#evening").css("background-color", "#F9F9F9")
                $("#evening").css("color", "#989898")
            });
            $("#donthave").click(function () {
                $("#donthave").css("background-color", "#989898")
                $("#donthave").css("color", "white")
            });
            $("#home").click(function () {
                $("#home").css("background-color", "#989898");
                $("#home").css("color", "white");
                $("#pg").css("background-color", "#F9F9F9")
                $("#pg").css("color", "#989898")
                $("#hostel").css("background-color", "#F9F9F9")
                $("#hostel").css("color", "#989898")
            });
            $("#pg").click(function () {
                $("#pg").css("background-color", "#989898");
                $("#pg").css("color", "white");
                $("#home").css("background-color", "#F9F9F9")
                $("#home").css("color", "#989898")
                $("#hostel").css("background-color", "#F9F9F9")
                $("#hostel").css("color", "#989898")

            });
            $("#hostel").click(function () {
                $("#hostel").css("background-color", "#989898");
                $("#hostel").css("color", "white");
                $("#pg").css("background-color", "#F9F9F9")
                $("#pg").css("color", "#989898")
                $("#home").css("background-color", "#F9F9F9")
                $("#home").css("color", "#989898")

            });
        });
        var selected = document.querySelector(".selected");
        var listitem = document.querySelector("#country");
        var optionscontainer = document.querySelector(".options-container");
        var optionslist = document.querySelectorAll(".options");

        selected.addEventListener("click", function () {
            optionscontainer.classList.toggle("active");
        });

        optionslist.forEach(function (option) {
            option.addEventListener("click", function () {
                listitem.innerHTML = option.querySelector("label").innerHTML;
                optionscontainer.classList.remove("active");
            });
        });


        var selected1 = document.querySelector(".selected1");
        var listitem1 = document.querySelector("#country1");
        var optionscontainer1 = document.querySelector(".options-container1");
        var optionslist1 = document.querySelectorAll(".options1");

        selected1.addEventListener("click", function () {
            optionscontainer1.classList.toggle("active");
        });

        optionslist1.forEach(function (option) {
            option.addEventListener("click", function () {
                listitem1.innerHTML = option.querySelector("label").innerHTML;
                optionscontainer1.classList.remove("active");
            });
        });
    </script>
    <%- include ("../partials/footer") %>