<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/submission_styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="header">
        <div id="buttons">
            <ul id="iconlist">
                <li id="name">Tarun <span id="caste">DIXIT</span><span id="namenot"><img
                            src="/images/Ellipse%2045.png"></span></li>
                <li id="list2"><button id="button1"><img src="/images/icons8-gear-100.png" id="gear"></button></li>
                <li id="list3"><button id="button2"><img src="/images/icons8-notification-100.png"
                            id="bell"></button><span id="bellnot"><img src="/images/Ellipse%2045.png"></span></li>
                <li id="list4"><button id="button3"><img src="/images/icons8-logout-rounded-down-100.png"
                            id="logout"></button></li>

            </ul>

        </div>


    </div>
    <div id="left">
        <img id="brandname" src="/images/monktree%20white.png">
        <div id="listdiv">
            <ul>
                <li><a href="dashboard.html"><img src="/images/Group%2032.png" id="dashboard">Dashboard</a></li>
                <li><a href="yourbag.html"><img src="/images/Group%2074.png" id="bag">Your Bag</a></li>
                <li><a href="#"><img src="/images/Group%2062.png" id="gift">Free gifts</a></li>
                <li id="notestutorial"><a href="#"><img src="/images/Group%2063.png" id="notes">Notes&Tutorials</a>
                </li>
                <li id="codeplug"><a href="#">Codeplug IDE</a></li>
            </ul>

        </div>
        <hr id="line">
        <div id="listdiv2">
            <ul>
                <li><a href="#">Discussion</a></li>
                <li id="contact"><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div id="container">
        <div id="notactive">Not Active</div>
    </div>
    <div id="content">
        <div class="row2">
            <div class="column2 left2">
                <a href="personaldetails.html"><button class="button5">Personal Details</button></a>
            </div>
            <div class="column2 mid2">
                <a href="academics.html"><button class="button5" style="margin-left: 0px;">Academic Details</button></a>
            </div>
            <div class="column2 right2">
                <a href="submission.html"><button class="button5" style="margin-left: 8px;">Submission</button></a>
            </div>

            <div class="container1">
                <form method="post" action="">
                    <label>Upload photo</label>
                    <input type="file" placeholder="Upload passport size photo" class="textbox1"><br>
                    <label>Upload ID</label>&nbsp&nbsp&nbsp
                    &nbsp&nbsp
                    <input type="file" placeholder="Upload any document" class="textbox1"><br><br><br>
                    <input type="checkbox" name="">
                    &nbsp&nbsp&nbsp
                    I understand and agree all <a href="" style="color: orange"> terms and conditions.</a>
                    <br>
                    <a href="submitresponse.html" id="submit">Submit</a>
                </form>
            </div>

        </div>

    </div>






</body>



</html>