<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/personaldetails_styling.css">
    <style>
        #status:hover {
            cursor: pointer;
        }

        #change:hover {
            cursor: pointer;
        }

        #statusmobile:hover {
            cursor: pointer;
        }

        #changemobile:hover {
            cursor: pointer;
        }
    </style>

    <%- include ("../partials/header") %>

    <div id="container">
        <div id="notactive">Not Active</div>
        <div id="containsform">
            <div class="row2">
                <div class="column2 left2">
                    <button class="button5"
                        style="background-image: linear-gradient(-90deg,#FF0D6F,#FFB20A); color: white;">
                        <div class="column21 left21"> <a href="/form/personal" id="current"> Personal Details </a>
                        </div>
                        <div class="column21 right21">
                            <div class="draft">Draft</div>
                        </div>
                    </button>
                </div>
                <div class="column2 mid2">
                    <button class="button51" style="margin-left: 0px;">
                        <div class="column21 left21"> <a href="/form/academic"> Academic Details </a> </div>
                        <div class="column21 right21">
                            <div class="draft"></div>
                        </div>
                    </button>
                </div>
                <div class="column2 right2">
                    <button class="button51" style="margin-left: 8px;">
                        <div class="column21 left21"> <a href="/form/file/">Submission</a> </div>
                        <div class="column21 right21">
                            <div class="draft"></div>
                        </div>
                    </button>
                </div>


                <div class="container1">
                    <form method="" action="" id="details-form">
                        <label id="">Student's name</label>
                        <input type="" name="" class="textbox1" id="firstname" placeholder="First Name"
                            style="margin-left: 31px;" required>&nbsp&nbsp
                        <input type="" name="" class="textbox1" id="middlename" placeholder="Middle Name">&nbsp&nbsp
                        <input type="" name="" class="textbox1" id="lastname" placeholder="Last Name" required>
                        <br><br>

                        <label id="">Father's name</label>
                        <input type="" name="" class="textbox1" id="fatherfirstname" placeholder="First Name"
                            style="margin-left: 40px;" required>&nbsp&nbsp
                        <input type="" name="" class="textbox1" id="fatherlastname" placeholder="Last Name" required>
                        <br><br>

                        <label id="">Date of Birth</label>
                        <input type="date" name="" id="dob" class="textbox1" value="  DD/MM/YYYY"
                            style="margin-left: 52px;">&nbsp&nbsp

                        <br><br>

                        <label id="">Email</label>
                        <input id="email" type="email" name="" class="textbox1" disabled
                            style="margin-left: 101px; padding-left: 5px;" value="reply@student.in">&nbsp&nbsp
                        <div id="status"
                            style="width: 80px;height: 15px;background-color:#33B581;position: absolute;left: 450px; bottom: 249px;border-radius: 1px;color: white;padding: 10px;font-weight: bold">
                            VERIFIED</div>
                        <input type="button" value="Refresh" id="change"
                            style="width: 80px;height: 36px;background-color:#f5f5f5;position: absolute;left: 555px; bottom: 249px;border-radius: 1px;color: grey;padding: 10px;font-weight: bold;border: 1px;font-size: 15px">

                        <br><br>

                        <label id="">Mobile</label>
                        <input id="mobile" value="9886338488" type="phone" name="" class="textbox1" disabled
                            style="margin-left: 94px;padding: 0px">&nbsp&nbsp
                        <div id="statusmobile"
                            style="width: 80px;height: 15px;background-color:#33B581;position: absolute;left: 450px; bottom: 192px;border-radius: 1px;color: white;padding: 10px;font-weight: bold">
                            VERIFIED</div>
                        <br><br>

                        <label id="">Resident</label>

                        <div class="selected textbox1" id="stateop">
                            <img src="/images/Polygon%203.png" id="downarrow">
                            <img src="/images/Polygon%204.png" id="uparrow">
                            <ul id="lis">
                                <li id="country">State</li>
                            </ul>
                        </div>


                        <div class="selectbox">
                            <div class="options-container" id="residentState">
                                <div class="options">
                                    <label for="india">Delhi</label>
                                    <input type="radio" value="Delhi" class="radio" id="india" name="country">
                                </div>
                                <div class="options">
                                    <label for="Bangladesh">Uttar Pradesh</label>
                                    <input type="radio" value="Uttar Pradesh" class="radio" id="Bangladesh"
                                        name="country">
                                </div>
                                <div class="options">
                                    <label for="Bhutan">Telangana</label>
                                    <input type="radio" value="Telangana" class="radio" id="Bhutan" name="country">
                                </div>
                                <div class="options">
                                    <label for="UK">Punjab</label>
                                    <input type="radio" value="Punjab" class="radio" id="UK" name="country">
                                </div>
                                <div class="options">
                                    <label for="England">Haryana</label>
                                    <input type="radio" value="Haryana" class="radio" id="England" name="country">
                                </div>
                            </div>
                        </div>

                        <div class="selected1 textbox1">
                            <img src="/images/Polygon%203.png" id="downarrow1">
                            <img src="/images/Polygon%204.png" id="uparrow1">
                            <ul id="lis2">
                                <li id="country1">City</li>
                            </ul>
                        </div>
                        <div class="selectbox1" id="residentCity">
                            <div class="options-container1">
                                <div class="options1">
                                    <label for="india">New Delhi</label>
                                    <input type="radio" value="New Delhi" class="radio1" id="india" name="country1">
                                </div>
                                <div class="options1">
                                    <label for="Bangladesh">Gorakhpur</label>
                                    <input type="radio" value="Gorakhpur" class="radio1" id="Bangladesh"
                                        name="country1">
                                </div>
                                <div class="options1">
                                    <label for="Bhutan">Hyderabad</label>
                                    <input type="radio" value="Hyderabad" class="radio1" id="Bhutan" name="country1">
                                </div>
                                <div class="options1">
                                    <label for="UK">Saharanpur</label>
                                    <input type="radio" value="Saharanpur" class="radio1" id="UK" name="country1">
                                </div>
                                <div class="options1">
                                    <label for="England">Ghaziabad</label>
                                    <input type="radio" value="Ghaziabad" class="radio1" id="England" name="country1">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="save"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var selected = document.querySelector(".selected");
        var listitem = document.querySelector("#country");
        var optionscontainer = document.querySelector(".options-container");
        var optionslist = document.querySelectorAll(".options");

        selected.addEventListener("click", () => {
            optionscontainer.classList.toggle("active");
        });

        optionslist.forEach(option => {
            option.addEventListener("click", () => {
                listitem.innerHTML = option.querySelector("label").innerHTML;
                optionscontainer.classList.remove("active");
            });
        });
        var selected1 = document.querySelector(".selected1");
        var listitem1 = document.querySelector("#country1");
        var optionscontainer1 = document.querySelector(".options-container1");
        var optionslist1 = document.querySelectorAll(".options1");

        selected1.addEventListener("click", () => {
            optionscontainer1.classList.toggle("active");
        });

        optionslist1.forEach(option => {
            option.addEventListener("click", () => {
                listitem1.innerHTML = option.querySelector("label").innerHTML;
                optionscontainer1.classList.remove("active");
            });
        });
    </script>
    <script src="/scripts/personalDetail.js" defer></script>

    <%- include ("../partials/footer") %>