<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Your Bag</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/yourbag_styling.css">


    <%- include ("../partials/header") %>


    <div id="container">
        <p id="yourbag">Your Bag</p>
        <p id="item"><span id="itemno">6</span> items</p>
        <hr id="line2">
        <div id="dropdowns">
            <select>
                <option>Select Book 1</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>


            </select>
            <select>
                <option>Select Book 2</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>


            </select>
            <select>
                <option>Select Book 3</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>


            </select>
            <select>
                <option>Select Book 4</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>


            </select>
            <select>
                <option>Select Book 5</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>
            </select>
            <select>
                <option>Select Book 6</option>
                <option>Title One</option>
                <option>Title two</option>
                <option>Title three</option>
                <option>Title four</option>
            </select>
        </div>
        <div id="bluediv">
            <p id="bagsummary">Bag Summary</p>
            <hr id="line3">
            <p id="summparyitem">ITEMS <span>6</span></p>
            <p id="amount">&#8377<span>1599</span></p>
            <div id="shipping">
                <p>SHIPPING</p>
                <select>
                    <option>Free Delivery (7-10 Days)</option>
                    <option>Standard Shipping</option>
                    <option>Express Shipping</option>
                </select>
                <p>SHIPPING ADDRESS</p>
                <select>
                    <option>Primary Address</option>
                    <option>Office Address</option>
                    <option>Others</option>
                </select>
            </div>
            <hr id="line4">
            <p id="totalcost">TOTAL COST</p>
            <p id="totalcostprice">&#8377<span>1599</span></p>
            <p id="topay">TO PAY</p>
            <p id="payingamount">&#8377<span>0</span></p>
            <input type="button" id="checkout" value="CHECKOUT">
        </div>
    </div>
    <%- include ("../partials/footer") %>