
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/verification_styling.css">
    <link rel="stylesheet" type="text/css" href="/css/enterotp_styling.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<img src="/images/Polygon%201.png" id="polygon">
<img src="/images/Path%201.png" id="path">

<body>
    <div id="container">
        <img src="/images/Intersection%201.png" id="intersectionpolygon">


        <div id="phoneDiv" style="display:show;">
            <h1 id="verificationprocess">Verification Process</h1>
            <p id="detailstoverify">Enter your mobile number to verify detail
                <div class="selected">
                    <ul id="list1">
                        <li id="icon"><span id="span1"><img src="/images/NoPath%20-%20Copy%20(7).png"></span></li>
                        <li id="country">India</li>
                    </ul>
                </div>
                <form id="phone-form">
                    <div id="codeandnumber">
                        <ul id="list2">
                            <li id="code"><span id="numcode">+91</span></li>
                            <li id="phoneno">
                                <input type="tel" name="phone" placeholder="Phone No." id="inputphoneno">
                            </li>
                            <li id=phoneno>
                                <div id="recaptcha-container"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- <div id="recaptcha-container"></div> -->
                    <div id="wrap2">
                        <button id="getotp" type="button" onclick="phoneAuth();" name="getotp">GET OTP</button>
                    </div>
                </form>
        </div>

        <div id="otpDiv" style="display:none;">
            <h1 id="verificationprocess">Enter Verification code</h1>
            <p id="detailstoverify"> We've sent it to your phone! <span id="phText"></span></p>
                <form id="otp-form">
                    
                     <div id="otpnumbers">
                        <ul id="list2">
                            <li id="phoneno" >
                                <input type="tel" id='verificationCode' class="otp " maxlength="6">  
                               
                               <!--<input type="text"  placeholder="Enter verification code">--> 
                            </li>
                        </ul>
                    </div>
                
                    <div id="wrap2">
                        <button id="getotp" type="button" onclick="codeverify();" name="getotp">Verify code</button>
                    </div>
                </form>
        </div>

        <div id="gradient">
            <img src="/images/monktree%20white.png" id="brandlogo">
            <img src="/images/Intersection%202.png" id="intersectionpath">
            <img src="/images/Intersection%203.png" id="intersectionpath2">
            <h1>Just one more <br />step</h1>
            <p>Your data is safe with us <br /> see our privacy policy</p>
            <a href="/dashboard">
                <input type="button" value="SKIP FOR NOW" id="skip" name="skip">
            </a>
        </div>
        <p id="error"></p>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js"></script>
    <script>
        // let prevUser = firebase.auth().currentUser.uid;
    </script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/listener.js"></script>
    <script src="/scripts/otp.js"></script>
</body>

</html>