<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    
    <script src="/js/firebase.js"></script>   
    <script src="/js/main.js"></script>

    
</head>
<body>


    <h1>WELCOME</h1>

    
    
    <button onclick="mainApp.logOut()">Logout</button>

    <div>
        <form method="post" action="">
            <label id="">Student's name</label>
            <input type="text" name=""  placeholder=" First name"  required>&nbsp&nbsp
            <input type="text" name=""  placeholder=" Middle name" >&nbsp&nbsp
            <input type="text" name=""  placeholder=" Last name" required>
            <br><br>

            <label id="">Father's name</label>
            <input type="text" name=""  placeholder=" First name"  required>&nbsp&nbsp
            <input type="text" name=""  placeholder=" Last name" required>
            <br><br>

            <label id="">Date of Birth</label>
            <input type="date" name=""  placeholder=" DD/MM/YYYY"  required>&nbsp&nbsp
            <select name=" ">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
               
              </select>
            <br><br>

            <label id="">Email</label>
            <input type="" name=""  style="margin-left: 100px;">&nbsp&nbsp
            <span>VERIFIED</span>
            <br><br>

            <label id="">Mobile</label>
            <input type="" name=""  style="margin-left: 87px;">&nbsp&nbsp
            <span>VERIFIED</span>
            <br><br>
            
            <label id="">Resident</label>&nbsp&nbsp
            <select name=" ">
                <option value="op1">state 1</option>
                <option value="op2">state 2</option>
               
              </select>
              <select name=" ">
                <option value="op1">city 1</option>
                <option value="op2">city 2</option>
               
              </select>
              <br><br>

              
            <label id="">University</label>
            &nbsp&nbsp
            <select name=" ">
                <option value="op1">University1</option>
                <option value="op2">University2</option>
               
              </select>

              <br><br>


              <label id="">Course</label>
              &nbsp&nbsp
              <select name=" ">
                  <option value="op1">cs</option>
                  <option value="op2">it</option>
                 
                </select>
  
                <br><br>


                <label id="">Course Duration</label>
                <input type="date" name=""  placeholder=" DD/MM/YYYY"  required> to 
                <input type="date" name=""  placeholder=" DD/MM/YYYY"  required>
                
                <br><br>


                <label id="">Class Room shift</label>
              &nbsp&nbsp
              <select name=" ">
                  <option value="op1">mrng</option>
                  <option value="op2">evening</option>
                 
                </select>
                <select name=" ">
                    <option value="op1">home </option>
                    <option value="op2">pg</option>
                    <option value="op3">hostel</option>

                   
                  </select>
  
                <br><br>

                <label id="">UID/ENROLLMENT NO.</label>
                <input type="text" name=""  placeholder=" UID"  required>&nbsp&nbsp
                <select name=" ">
                    <option value="op1">i dont have one </option>
                    

                   
                  </select>
                
              
                <br><br>

                <label id="">Uplaod photo</label>
                <input type="file" name="" id="fileToUpload">
                <br><br>

                <label id="">Uplaod id</label>
                <input type="file" name="" id="fileToUpload">
                <br><br>
    
                <input type="checkbox" name=" " value="conditions" required>
                <label > I understand the Terms and conditions</label><br><br>
         

            <input type="Submit" name="Save" value="Save">
        </form>
    </div>




     
</body>
</html>