html {
    background-color: #f5f5f5;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

#notestutorial {
    position: relative;
    top: -15px
}

#container {
    position: relative;
    width: 1235px;
    height: 690px;
    left: 294px;
    bottom: 1000px;
}

#notactive {
    width: 75px;
    height: 23px;
    position: absolute;
    background: linear-gradient(to left, #FF0A71, #FFB906);
    left: 1050px;
    top: 30px;
    padding-left: 8px;
    padding-top: 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 4px 6px grey;
}

.row2 {
    padding: 0px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}


.column2 {
    float: left;
    padding: 0px;
    position: relative;
    left: 30px;
}

.left2 {
    width: 33.33%;
}

.mid2 {
    width: 33.33%;
}

.right2 {
    width: 33.33%;
}

/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}


.button51 {
    background-color: #FFFFFF;
    border: none;
    color: #7A7A7A;
    height: 40px;
    width: 307px;
    box-shadow: 1px 1px 20px 4px #acacbd;
    text-align: left;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    margin-top: 0px;
    margin-left: -10px;

}

a:any-link {
    color: black;
    text-decoration: none;
}

#current {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.986);
}


.button5 {
    background-color: #FFFFFF;
    border: none;
    color: #7A7A7A;
    height: 40px;
    width: 307px;
    box-shadow: 1px 1px 20px 4px #acacbd;
    text-align: left;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    margin-top: 0px;
    margin-left: -10px;
    cursor: pointer;
}

.button5:focus {
    background-image: linear-gradient(-90deg, #FF0D6F, #FFB20A);
    box-shadow: 1px 1px 20px 4px #acacbd;
    color: white;
}

.container1 {
    height: 400px;
    border-radius: 4px;
    width: 830px;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px 4px #acacbd;
    position: relative;
    padding: 50px 70px;
    /*margin-left: 20px;*/
    margin-top: 60px;
    text-align: left;
    left: 20px
}

.container2 {
    height: 450px;
    width: 954px;
    background-color: none;
    /*box-shadow: 1px 1px 20px 4px #acacbd;*/
    position: relative;
    padding: 50px 70px;
    /*margin-left: 20px;*/
    margin-top: 60px;
    text-align: left;

}


.textbox2 {
    background-color: #F9F9F9;
    height: 35px;
    width: 200px;
    margin-bottom: 15px;
    border: none;
    margin-left: 20px;
    box-shadow: 1px 1px 4px 1px #ccc;
}


.save {
    font-family: Segoe UI, sans-serif;
    margin-left: 720px;
    margin-top: 20px;
    background-color: #1A95FF;
    font-weight: 600;
    height: 30;
    width: 73;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px 1px #ccc;

}

#containsform {
    position: absolute;
    top: 55px;
    left: 30px
}

#shift {
    position: relative;
    bottom: 0px
}

#morning {
    position: relative;
    width: 100px;
    background-color: #989898;
    color: white;
    font-size: 18px
}

#morning:hover {
    cursor: pointer;
}

#evening {
    position: relative;
    width: 100px;
    right: 24.2px;
    color: #989898;
    font-size: 18px;


}

#evening:hover {
    cursor: pointer;
}

#enroll {
    padding-left: 10px
}

#donthave {
    position: relative;
    top: 2px;
    height: 36px;
    right: 23.9px;
    color: #989898;
    font-size: 18px;
    border: 0px solid;

}

#donthave:hover {
    cursor: pointer;
}

#home {
    position: relative;
    width: 100px;
    color: #989898;
    font-size: 18px
}

#pg {
    position: relative;
    width: 100px;
    color: #989898;
    font-size: 18px;
    right: 24.3px
}

#hostel {
    position: relative;
    width: 100px;
    color: #989898;
    font-size: 18px;
    right: 48.8px;
}

::placeholder {
    color: #4F4F4F;
    font-family: sans-serif;
    font-size: 18;
    font-weight: 400px;

}

.row21 {
    padding: 0px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.column21 {
    float: left;
    padding: 0px;
    position: relative;
    left: 30px;
}

.left21 {
    width: 70%;

}

.right21 {
    width: 30%;
}

.draft {
    padding: 2px 4px;
    text-align: center;
    font-size: 18px;
    width: 50px;
    margin-top: 0px;
    margin-left: -10px;
    background-color: white;
    opacity: 49%;
    color: grey;
    border-radius: 3px;
}

.saved {
    padding: 3px 5px;
    text-align: center;
    font-size: 16px;
    width: 50px;
    margin-top: 0px;
    margin-left: -10px;
    background: linear-gradient(to left, #FF0A71, #FFB906);
    opacity: none;
    color: white;
    border-radius: 3px;
}

.selected {
    position: relative;
    left: 194px;
    top: -25px;
    background: #F9F9F9;
    color: gray;
    width: 484px;
    height: 15px;
    white-space: nowrap;
    box-shadow: 1px 1px 4px 1px #ccc;

}

.selectbox {
    position: absolute;
    left: -55px;
    top: 450px;
    display: flex;
    width: 400px;
}

.selectbox .options-container {
    background-color: #f5f5f5;
    color: darkolivegreen;
    max-height: 0;
    width: 506px;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    position: absolute;
    left: 319px;
    top: -490px;
    text-align: center;

}

.selectbox .options,
.selected {
    padding: 10px;
    cursor: pointer;
}

.selectbox .options:hover {
    background-color: #a6aeb3;
}

.selectbox label {
    cursor: pointer;
}

.selectbox .options .radio {
    display: none;
}

.selectbox .options-container.active {
    max-height: 80px;
    opacity: 1;
    overflow-y: scroll;
}

#lis1 {
    position: absolute;
    list-style: none;
    display: inline;
}

#downarrow {
    position: absolute;
    left: 480px;
    top: 16px;
    width: 13px
}

#uparrow {
    position: absolute;
    left: 480px;
    top: 6px;
    width: 13px;
}

#span1 {
    margin-right: 10px
}

#span1 img {
    position: relative;
    top: 2px;
}

#country {
    position: absolute;
    left: 0px;
    top: -17px;
    width: 120px;
    font-size: 16px;
    color: grey;


}

#country:hover {
    cursor: pointer;
}

.selected1 {
    position: relative;
    left: 194px;
    top: -27px;
    background: #f5f5f5;
    color: gray;
    width: 484px;
    height: 15px;
    white-space: nowrap;
    box-shadow: 1px 1px 4px 1px #ccc;


}

.selectbox1 {
    position: absolute;
    left: -55px;
    top: 450px;
    display: flex;
    width: 400px;
}

.selectbox1 .options-container1 {
    background-color: #f5f5f5;
    color: darkolivegreen;
    max-height: 0;
    width: 506px;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    position: absolute;
    left: 319px;
    top: -310px;
    text-align: center;

}

.selectbox1 .options1,
.selected1 {
    padding: 10px;
    cursor: pointer;
}

.selectbox1 .options1:hover {
    background-color: #a6aeb3;
}

.selectbox1 label {
    cursor: pointer;
}

.selectbox1 .options1 .radio1 {
    display: none;
}

.selectbox1 .options-container1.active {
    max-height: 80px;
    opacity: 1;
    overflow-y: scroll;
}

#lis2 {
    position: absolute;
    list-style: none;
    display: inline;
}

#downarrow1 {
    position: absolute;
    left: 481px;
    top: 16px;
    width: 13px
}

#uparrow1 {
    position: absolute;
    left: 480px;
    top: 6px;
    width: 13.6px;
}

#span1 {
    margin-right: 10px
}

#span1 img {
    position: relative;
    top: 2px;
}

#country1 {
    position: absolute;
    left: -3px;
    top: -17px;
    width: 120px;
    font-size: 16px;
    color: grey;


}

#country1:hover {
    cursor: pointer;
}