html{
    height: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
}
body{
    font-family: sans-serif;
}

*{
  margin: 0;
  box-sizing: border-box;
}

#container{
    height: 540px;
    width: 1100px;
    background-color: #ffff;
    margin: 100px auto;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 4px #acacbd;
    position: relative;
}

/*Here manipulated the blue polygon which has a id polygon*/
#polygon{
    position: absolute;
    width: 563px;
    right: -90px;
    top: -205px;
    height: 655px 
}
/*here manipulated the green amoeba shape picture which has the id path*/
#path{
    position: absolute;
    width: 489px;
    height: 504px;
    bottom: -129px;
    left: -80px;
    
}
/*here manipulated the intersection of polygon picture which has the id intersectionpolygon*/
#intersectionpolygon{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 200px;
    height: 140px;
}
/*here manipulated the intersection of green picture which has the id intersectionpath*/
#intersectionpath{
    position: absolute;
    top: 400px;
    left: -7px;
    width: 199px;
    height: 150px
}
/*here manipulated the intersection of green picture which has the id intersectionpath*/
#intersectionpath2{
     position: absolute;
    top: 390px;
    left: -6px;
    width: 209px;
    height: 156px
}

/*Here designed the picture which has gradient color*/
#gradient{
    height: 540px;
    width: 350px;
    margin: 100px auto;
    background: linear-gradient(to bottom left, #FF006F, #FFCC00);
    position: absolute;
    bottom: -100px;
    left: 0px;
    border-radius: 25px 0px 0px 25px;
    color: white;
    text-align: center;
    overflow: hidden;
    
    
}
/*Designed the heading inside the gradient div*/
#gradient h1{
    font-weight: bold;
    margin-top: 170px;
    
}
/*Designed the paragraph inside the gradient div*/
#gradient p{
    margin-top: 70px;
    font-weight: 700;
    font-size: 18px
    
}
/*Designed the skip button*/
#skip{
    width: 230px;
    height: 50px;
    border-radius: 25px;
    margin-top:20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 550;
    font-size: 20px 
}
#skip:hover{
    cursor: pointer;
    
}
/*designed the brandlogo*/
#brandlogo{
    position: absolute;
    width: 150px;
    left: 40px;
    top: 40px;
}
/*designed the heading which says enter otp*/
#enterotp{
    color: #FF4704;
    position: absolute;
    left: 580px;
    top: 70px;
    font-weight:700;
    
}
/*designed the span which containes the number*/
#enteredno{
    font-weight: bold;
    font-size: 20px
}
/*designed the paragraph which says we have sent an otp*/
#detailstoverify{
    position: absolute;
    z-index: 1;
    left: 587px;
    top: 160px;
    color: grey;
    
}
/*desgined a div which contains 4 inputs for each otp box*/
#otpnumbers{
    position: relative;
    left: 575px;
    top: 300px;
}
/*designed all the boxes for otp numbers*/
.otp{
    width: 40px;
    height: 2.4pc;
    margin-right: 8px;
    background-color: white;
    border: 1px;
    box-shadow: 1px 1px 6px 0px #acacbd;
    color: #FF4704;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    
}
#otpnumbers p{
    color: gray;
    position: absolute;
    top: 90px;
    left: 15px;
}
#resendotp{
    font-weight: bold;
    color: #FF4704;

}
.otp:active{
    border: 1px solid blue;
}
#resentotplink{
    text-decoration: none;
    color: #FF4704;

}