

/*desgined a div which contains inputs for each otp box*/
#otpnumbers{
    position: relative;
    left: 575px;
    top: 250px;
}
/*designed all the boxes for otp numbers*/
.otp{
    width: 350px;
    height: 2.4pc;
    margin-right: 8px;
    background-color: white;
    border: 1px;
    box-shadow: 1px 1px 6px 0px #acacbd;
    color: #FF4704;
    text-align: center;
    font-weight: 700;
    font-size: 20px;

    
}


