html{
    height: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
}
body{
    font-family: sans-serif;
}

#container{
    height: 540px;
    width: 1100px;
    background-color: #ffff;
    margin: 100px auto;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 4px #acacbd;
    position: relative;
}

/*Here manipulated the blue polygon which has a id polygon*/
#polygon{
    position: absolute;
    width: 563px;
    right: -90px;
    top: -205px;
    height: 655px
}
/*here manipulated the green amoeba shape picture which has the id path*/
#path{
    position: absolute;
    width: 489px;
    height: 504px;
    bottom: -129px;
    left: -80px;
    
}
/*here manipulated the intersection of polygon picture which has the id intersectionpolygon*/
#intersectionpolygon{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 200px;
    height: 140px;
}
/*here manipulated the intersection of green picture which has the id intersectionpath*/
#intersectionpath{
    position: absolute;
    top: 400px;
    left: -7px;
    width: 199px;
    height: 150px
}
/*here manipulated the intersection of green picture which has the id intersectionpath*/
#intersectionpath2{
     position: absolute;
    top: 390px;
    left: -6px;
    width: 209px;
    height: 156px
}

/*Here designed the picture which has gradient color*/
#gradient{
    height: 540px;
    width: 350px;
    margin: 100px auto;
    background: linear-gradient(to bottom left, #FF006F, #FFCC00);
    position: absolute;
    bottom: -100px;
    left: 0px;
    border-radius: 25px 0px 0px 25px;
    color: white;
    text-align: center;
    overflow: hidden;
    
    
}
/*Designed the heading inside the gradient div*/
#gradient h1{
    font-weight: bold;
    margin-top: 170px;
    
}
/*Designed the paragraph inside the gradient div*/
#gradient p{
    margin-top: 70px;
    font-weight: 700;
    font-size: 18px
    
}
/*Designed the signup button*/
#signin{
    width: 230px;
    height: 50px;
    border-radius: 25px;
    margin-top:20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 550;
    font-size: 20px
    
}
/*hover ability of that signup button*/
#signin:hover{
    cursor: pointer;
    
}
/*designed the brandlogo*/
#brandlogo{
    position: absolute;
    width: 150px;
    left: 40px;
    top: 40px;
}
/*desgined create account heading*/
#createaccount{
    color: #FF4704;
    position: absolute;
    left: 600px;
    top: 120px;
    font-weight: 700;
}
/*this wrap div contains username, email and the password inputs*/
#wrap{
    position: absolute;
    left: 520px;
    top: 230px;
}
/*designed the username input*/
#username{
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    background-color: #F5F5F5;
    padding-left: 30px;
    border: 1px;
    color: grey;  
}
/*designed the email input*/
#email{
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    background-color: #F5F5F5;
    padding-left: 30px;
    border: 1px;
    color: grey;
}
/*designed the password input*/
#password{
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    background-color: #F5F5F5;
    padding-left: 30px;
    border: 1px;
}
/*this wrap2 contains signup button*/
#wrap2{
    position: absolute;
    left: 650px;
    top: 350px;
}

/*designed sign up input button*/
#signup{
    width: 230px;
    height: 50px;
    border-radius: 25px;
    margin-top:40px;
    border: 2px solid white;
    background:linear-gradient(to left,#FF0045, #FFCC00);
    color: white;
    font-weight: 550;
    font-size: 20px;
    margin-left: -36px 
}
/*gave sign in button a hover ability*/
#signup:hover{
    cursor: pointer;
}