#header{
    height: 50px;
    width: 1700px;
    background-color: white;
    position: relative;
    top: -10px;
    left: -10px;
    box-shadow: 1px 1px 12px 1px grey;
}

#buttons{
    position: absolute;
    left: 1235.1px;
    top: -40px;
}
#buttons ul li{
    display: inline;
    border-right: 1px solid grey;
}
#namenot{
    position: absolute;
    top: 45px;
    left: 115px;
    z-index: 2;
    
}
#caste{
    margin-right: 13px;
    font-weight: bold;
}
#list2{
    margin-left: 5px
}
#button1{
    width: 45px;
    height: 44px;
    position: relative;
    background-color: white;
    border: 1px;
    padding-left: 0px;
    left: -9px;
    top: 23px;
    margin-right: 2px;
    
}
#button1:hover{
    cursor: pointer;
}

#gear{
    width: 55px;
    height: 55px;
}

#list3{
    margin-right: 5px
}

#bell{
    width: 50px;
    height: 45px;
     
}

#bellnot{
    position: absolute;
    left: 225px;
    top: 44px;
    z-index: 2;
    
}
#button2{
    width: 45px;
    height: 40px;
    position: relative;
    top: 19px;
    left: -4px;
    background-color: white;
    border: 1px;
    margin: none;
    padding-left: 0px;
    
}
#button2:hover{
    cursor: pointer;
}

#button3{
    width: 45px;
    height: 43px;
    position: relative;
    top: 17px;
    background-color: white;
    border: 1px;
    margin: none;
    padding-left: 0px;
    
}
#button3:hover{
    cursor: pointer;
}

#logout{
    width: 45px;
    height:45px;
}


#left{
    position: relative;
    width: 300px;
    height: 1000px;
    background-color: #324370;
    z-index: 2;
    top: -60px;
    left: -8px;
    
}

#brandname{
    width: 160px;
    height: 36px;
    position: absolute;
    left: 60px;
    top: 80px
    
}

#listdiv{
    position: absolute;
    top: 150px;
    left: -54px
}
#listdiv ul{
    list-style: none;
}
#listdiv ul li{
    margin-bottom: 15px;
    width: 305px;
    height: 25px;
    padding: 5px;
   
}
#listdiv ul li:last-child{
   position: relative;
    top: -10px
}
#listdiv ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
     
}
#listdiv ul li:hover{
    background: linear-gradient(to left ,#FF0A71,#FFB906);
}


#dashboard{
    position: relative;
    top: 3px;
    right: 8px;
    margin-left: 90px;
}
#bag{
    position: relative;
    right: 9px;
        margin-left: 90px;

}

#gift{
    position: relative;
    right: 9px;
        margin-left: 90px;

}

#notes{
    position: relative;
    left: -2px;
    margin-left: 80px;
    top: 4px

}
#codeplug{
    text-align: center;
    margin-top: 10px;
    position: absolute;
    right: 3px
}
#line{
    position: absolute;
    top: 500px;
    width: 298px;
}

#listdiv2{
    position: absolute;
    top: 550px;
    left: -70px
    
}
#listdiv2 ul{
    list-style: none;
}
#listdiv2 ul li{
    margin-bottom: 15px;
    width: 319px;
    height: 25px;
    padding: 5px;
    text-align: center;
    
   
}

#listdiv2 ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
}
#listdiv2 ul li:hover{
    background: linear-gradient(to left ,#FF0A71,#FFB906);
}