<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="cs/activated_styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="header">
        <div id="buttons">
            <ul id="iconlist">
                <li id="name">Tarun <span id="caste">DIXIT</span><span id="namenot"><img
                            src="/images/Ellipse%2045.png"></span></li>
                <li id="list2"><button id="button1"><img src="/images/icons8-gear-100.png" id="gear"></button></li>
                <li id="list3"><button id="button2"><img src="/images/icons8-notification-100.png"
                            id="bell"></button><span id="bellnot"><img src="/images/Ellipse%2045.png"></span></li>
                <li id="list4"><button id="button3"><img src="/images/icons8-logout-rounded-down-100.png"
                            id="logout"></button></li>

            </ul>

        </div>


    </div>
    <div id="left">
        <img id="brandname" src="/images/monktree%20white.png">
        <div id="listdiv">
            <ul>
                <li style="background: linear-gradient(to left ,#FF0A71,#FFB906);"><a href="dashboard.html"><img
                            src="/images/Group%2032.png" id="dashboard">Dashboard</a></li>
                <li><a href="yourbag.html"><img src="/images/Group%2074.png" id="bag">Your Bag</a></li>
                <li><a href="#"><img src="/images/Group%2062.png" id="gift">Free gifts</a></li>
                <li id="notestutorial"><a href="#"><img src="/images/Group%2063.png" id="notes">Notes&Tutorials</a></li>
                <li id="codeplug"><a href="#">Codeplug IDE</a></li>
            </ul>

        </div>
        <hr id="line">
        <div id="listdiv2">
            <ul>
                <li><a href="#">Discussion</a></li>
                <li id="contact"><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <div id="container">
        <div id="notificationdiv">
            <p id="mainpara">Notifications<span id="notespan">4</span></p>
            <hr id="line1">
            <ul id="list1">
                <li><img id="mail" src="/images/icons8-important-mail-100.png"></li>
                <hr id="line2">
                <li><span id="bold">New Message </span>from <a href="#">Monktree billing</a></li>
            </ul>
            <hr id="line3">
            <ul id="list2">
                <li><img id="mail1" src="/images/icons8-important-mail-100.png"></li>
                <hr id="line4">
                <li><span id="bold">New Message </span>from <a href="#">Monktree billing</a></li>
            </ul>
            <hr id="line5">
            <ul id="list3">
                <li><img id="mail2" src="/images/icons8-important-mail-100.png"></li>
                <hr id="line6">
                <li><span id="bold">New Message </span>from <a href="#">Monktree billing</a></li>
            </ul>
            <hr id="line7">
            <!--
     <ul id="list4">
    <li><img id="mail3" src="/images/icons8-important-mail-100.png"></li>  
    <hr id="line8">
    <li><span id="bold">New Message </span>from <a href="#">Monktree billing</a></li>    </ul>
    <hr id="line9">
     <ul id="list5">
    <li><img id="mail4" src="/images/icons8-important-mail-100.png"></li>  
    <hr id="line10">
    <li><span id="bold">New Message </span>from <a href="#">Monktree billing</a></li>    </ul>
    <hr id="line11">
-->

        </div>
        <h2><span id="username">Hi Tarun,</span>How are you today?</h2>
        <div id="notactive" disabled>Active</div>
        <div id="content">
            <div class="row1">
                <div class="column1 left1">
                    <div class="button3">
                        <img id="lock1" src="/images/icons8-lock-250.png">

                        <button id="lbutton">
                            <img id="wlellipse" src="/images/Ellipse%2048.png">
                            <img id="larrow" src="/images/Group%2064.png">
                        </button>
                        <button id="rbutton">
                            <img id="wrellipse" src="/images/Ellipse%2048.png">
                            <img id="warrow" src="/images/Group%2065.png">
                        </button>
                    </div>
                </div>
                <div class="column1 mid1">
                    <div class="button3">
                        <img id="lock2" src="/images/icons8-lock-250.png">
                        <button id="iconidea">
                            <img id="icon" src="/images/Rectangle%20147.png">
                            <img id="idea" src="/images/icons8-idea-144.png">

                        </button>
                    </div>
                </div>
                <div class="column1 right1">
                    <div class="button4">
                        <button id="gifticon">
                            <img id="circle" src="/images/Rectangle%20146.png">
                            <img id="gifti" src="/images/icons8-gift-90.png">

                        </button>

                        <img id="lock3" src="/images/icons8-lock-250.png">
                    </div>
                </div>
                <br>
                <div class="div41">
                    <p id="completeprofile">You subscription has been activated. Please pack your bag</p>

                    <a href="yourbag.html" id="begin">Visit Bag</a>

                </div>
                <br>
                <div class="column1 left1">
                    <div class="button3">
                        <button id="shopicon">
                            <img id="round" src="/images/Rectangle%20148.png">
                            <img id="shop" src="/images/icons8-shopping-bag-100.png">
                        </button>
                    </div>
                    <img id="lock4" src="/images/icons8-lock-250.png">
                </div>
                <div class="column1 mid1">
                    <div class="button3">
                        <button id="graphicon">
                            <img id="circum" src="/images/Rectangle%20148.png">
                            <img id="chart" src="/images/icons8-line-chart-100%20(1).png">
                        </button>

                    </div>
                    <img id="lock5" src="/images/icons8-lock-250.png">
                </div>
                <div class="column1 right1">
                    <div class="button4">
                        <button id="dateicon">
                            <img id="pi" src="/images/Rectangle%20148.png">
                            <img id="code" src="/images/icons8-code-96.png">

                        </button>
                    </div>
                    <img id="lock6" src="/images/icons8-lock-250.png">
                </div>
            </div>

        </div>


    </div>

    <script>
        $(function () {
            $("#notificationdiv").hide();
            $("#button2").on('click', function () {
                $("#notificationdiv").toggle(200);
            })
        })
    </script>




</body>













</html>