<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" /> -->
 
    <title>Main Page</title>

</head>

<body>

    <h1>WELCOME</h1>

    <button onclick="logOut();">Logout</button>

    <div>
        <form method="post" action="/form/add" id="userdata-form">
            <label>Student's name</label>
            <input type="text" id="firstname" placeholder=" First name" required>&nbsp&nbsp
            <input type="text" id="middlename" placeholder=" Middle name">&nbsp&nbsp
            <input type="text" id="lastname" placeholder=" Last name" required>
            <br>
            <br>
            <label>Father's name</label>
            <input type="text" id="ffname" placeholder=" First name" required>&nbsp&nbsp
            <input type="text" id="fmname" placeholder=" Middle name">&nbsp&nbsp
            <input type="text" id="flname" placeholder=" Last name" required>
            <br>
            <br>
            <label>Date of Birth</label>
            <input type="date" id="dob" placeholder=" DD/MM/YYYY" required>&nbsp&nbsp
            <select id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <br>
            <br>
            <label>Email</label>
            <input style="margin-left: 100px;">&nbsp&nbsp
            <span>VERIFIED</span>
            <br>
            <br>
            <label>Mobile</label>
            <input style="margin-left: 87px;">&nbsp&nbsp
            <span>VERIFIED</span>
            <br>
            <br>
            <label>Resident</label>&nbsp&nbsp
            <select id="res1">
                <option value="op1">state 1</option>
                <option value="op2">state 2</option>
            </select>
            <select id="res2">
                <option value="op1">city 1</option>
                <option value="op2">city 2</option>
            </select>
            <br>
            <br>
            <label>University</label>
            &nbsp&nbsp
            <select id="uni">
                <option value="op1">University1</option>
                <option value="op2">University2</option>
            </select>
            <br>
            <br>
            <label>Course</label>
            &nbsp&nbsp
            <select id="course">
                <option value="op1">cs</option>
                <option value="op2">it</option>
            </select>
            <br>
            <br>
            <label>Course Duration</label>
            <input type="date" id="startdate" placeholder=" DD/MM/YYYY" required> to
            <input type="date" id="lastdate" placeholder=" DD/MM/YYYY" required>
            <br>
            <br>
            <label>Class Room shift</label>
            &nbsp&nbsp
            <select id="shift">
                <option value="op1">mrng</option>
                <option value="op2">evening</option>
            </select>
            <select id="location">
                <option value="op1">home </option>
                <option value="op2">pg</option>
                <option value="op3">hostel</option>
            </select>
            <br>
            <br>
            <label>UID/ENROLLMENT NO.</label>
            <input type="text" id="enumber" placeholder=" UID" required>&nbsp&nbsp
            <select id="enumber">
                <option value="op1">i dont have one </option>
            </select>
            <br>
            <br>
            <label>Uplaod photo</label>
            <input type="file" id="picture">
            <br>
            <br>
            <label>Uplaod id</label>
            <input type="file" id="fileupload">
            <br>
            <br>
            <input type="checkbox" value="conditions" required>
            <label> I understand the Terms and conditions</label><br><br>
            <button type="submit"></button>
        </form>
    </div>

    <!-- <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <script src="/js/firebase.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/form.js"></script> -->

</body>
</html>