<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/submitresponse_styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="header">
        <div id="buttons">
            <ul id="iconlist">
                <li id="name">Tarun <span id="caste">DIXIT</span><span id="namenot"><img
                            src="/images/Ellipse%2045.png"></span></li>
                <li id="list2"><button id="button1"><img src="/images/icons8-gear-100.png" id="gear"></button></li>
                <li id="list3"><button id="button2"><img src="/images/icons8-notification-100.png"
                            id="bell"></button><span id="bellnot"><img src="/images/Ellipse%2045.png"></span></li>
                <li id="list4"><button id="button3"><img src="/images/icons8-logout-rounded-down-100.png"
                            id="logout"></button></li>
            </ul>
        </div>
    </div>
    <div id="left">
        <img id="brandname" src="/images/monktree%20white.png">
        <div id="listdiv">
            <ul>
                <li style="background: linear-gradient(to left ,#FF0A71,#FFB906);"><a href="dashboard.html"><img
                            src="/images/Group%2032.png" id="dashboard">Dashboard</a></li>
                <li><a href="yourbag.html"><img src="/images/Group%2074.png" id="bag">Your Bag</a></li>
                <li><a href="#"><img src="/images/Group%2062.png" id="gift">Free gifts</a></li>
                <li id="notestutorial"><a href="#"><img src="/images/Group%2063.png" id="notes">Notes&Tutorials</a></li>
                <li id="codeplug"><a href="#">Codeplug IDE</a></li>
            </ul>
        </div>
        <hr id="line">
        <div id="listdiv2">
            <ul>
                <li><a href="#">Discussion</a></li>
                <li id="contact"><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Report</a></li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div id="notactive">Not Active</div>
        <div id="content">
            <div class="row2">
                <div class="column2 left2">
                    <button class="button51">
                        <div class="column21 left21">Personal Details</div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="column2 mid2">
                    <button class="button51">
                        <div class="column21 left21">Academic Details</div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="column2 right2">
                    <button class="button51" style="margin-left: 8px;">
                        <div class="column21 left21">Submission</div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="container2">
                    <p style="text-align: center; font-weight: 600; font-size: 22px; color: #1A95FF;">Your Profile has
                        been submitted!</p>
                    <p style="text-align: center; font-weight: 350; font-size: 14px;">We'll process your application in
                        next 48 hours.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>