<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/submitresponse_styling.css">

    <%- include ("./partials/header") %>


    <div id="container">
        <div id="notactive">Not Active</div>
        <div id="content">
            <div class="row2">
                <div class="column2 left2">
                    <button class="button51">
                        <div class="column21 left21"> <a href="/form/personal"> Personal Details </a> </div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="column2 mid2">
                    <button class="button51">
                        <div class="column21 left21"> <a href="/form/academic"> Academic Details </a> </div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="column2 right2">
                    <button class="button51" style="margin-left: 8px;">
                        <div class="column21 left21"> <a href="/form/file/">Submission</a> </div>
                        <div class="column21 right21">
                            <div class="saved">Saved</div>
                        </div>
                    </button>
                </div>
                <div class="container2">
                    <p style="text-align: center; font-weight: 600; font-size: 22px; color: #1A95FF;">Your Profile has
                        been submitted!</p>
                    <p style="text-align: center; font-weight: 350; font-size: 14px;">We'll process your application in
                        next 48 hours.</p>
                </div>
            </div>
        </div>
    </div>

    </div>


    <%- include ("./partials/footer") %>