<%- include ("../partials/admin_header") %>

<div class="container1" id="userinfocontent">
    <div id="allcontent">
        <img id="userimage" src="/images/admin/Mask%20Group%201@2x.png">
        <h4>User1</h4>
        <p>Laxmi Nagar,Delhi</p>
        <input type="button" class="btn" id="accept" value="Accept">
        <input type="button" class="btn" id="reject" value="Reject">
        <hr class="hrlines">

        <p id="year">2020<br /><span id="admissionyear">Admission year</span></p>
        <p id="third">Morning<br /><span id="currentsemester">Admission year</span></p>
        <p id="morning">Third<br /><span id="shift">Admission year</span></p>
        <hr class="hrlines">
        <p id="branchname">Computer Science<br /><span id="collegename">Guru Nanak Dev Institute Of Technology</span>
        </p>
    </div>
</div>
<div class="container1" id="userdetailcontent">
    <div class="carousel slide" id="mycarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0"></li>
            <li class="active" data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
        </ol>
    </div>
    <div class="corousel-item active">
        <p id="submission">Academic</p>
        <a href="usersinfo.html"><input type="button" class="btn" id="previous" value="Previous"></a>
        <a href="usersinfo2.html"><input type="button" class="btn" id="next1" value="Next"></a>
        <hr id="straight2">

        <div class="form-group col-md-12">
            <label for="institute" style="color: #172B4D">Institute</label>
            <input type="text" class="form-control" value="Guru Nanak dev institute of technology" id="institute"
                style="background-color: #F7FAFC ;color: #8898AA; box-shadow: 1px 2px 5px #8898AA">
        </div>
        <br />
        <br />
        <div class="form-group col-md-12">
            <label for="course" style="color: #172B4D">Course</label>
            <input type="text" class="form-control" value="Computer Science and Engineering" id="course"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <br />
        <br />
        <div class="form-group col-md-6">
            <label for="courseduration" style="color: #172B4D">Course Duration</label>
            <input type="text" class="form-control" value="July 2019 to June 2023" id="courseduration"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <div class="form-group col-md-6">
            <label for="enrollment" style="color: #172B4D">Enrollment ID</label>
            <input type="text" class="form-control" value="I don't have" id="enrollment"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px solid red; box-shadow: 1px 2px 5px">
        </div>
        <br />
        <div class="form-group col-md-4">
            <label for="shift1" style="color: #172B4D">Shift</label>
            <input type="text" class="form-control" value="Morning" id="shift1"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <div class="form-group col-md-4">
            <label for="home" style="color: #172B4D">Shipping Place</label>
            <input type="text" class="form-control" value="Home" id="home"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>

    </div>
</div>


<%- include ("../partials/admin_footer") %>