<%- include ("../partials/admin_header") %>

<div class="container1" id="userinfocontent">
    <div id="allcontent">
        <img id="userimage" src="/images/admin/Mask%20Group%201@2x.png">
        <h4> <%= username %></h4>
        <p id="residence">Default</p>
        <input type="button" onclick="acceptReview()" class="btn" id="accept" value="Accept">
        <input type="button" onclick="rejectReview()" class="btn" id="reject" value="Reject">

        <input type="button" style="display: none;" class="btn" id="accepted" value="Accepted" disabled>
        <input type="button" style="display: none;" class="btn" id="rejected" value="Rejected" disabled>

        <input type="button" onclick="reconsiderReview()" style="display: none;" class="btn" id="reconsider"
            value="Reconsider">

        <hr class="hrlines">

        <p id="year">Default<br />
            <span id="admissionyear">Default year</span></p>
        <p id="third">Default<br />
            <span id="currentsemester">Default year</span></p>
        <p id="morning"> <br />
            <span id="shift">Default year</span></p>
        <hr class="hrlines">
        <p id="branchname">Default<br /> </p>
        <p>
            <span id="collegename">Default Tech</span>
        </p>
    </div>
</div>
<div class="container1" id="userdetailcontent">
    <div class="carousel slide" id="mycarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0"></li>
            <li class="active" data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
        </ol>
    </div>
    <div class="corousel-item active">
        <p id="submission">Academic</p>
        <input type="button" onclick="goToUserInfo()" class="btn" id="previous" value="Previous">
        <input type="button" onclick="goToUserInfo2()" class="btn" id="next1" value="Next">
        <hr id="straight2">

        <div class="form-group col-md-12">
            <label for="institute" style="color: #172B4D">Institute</label>
            <input type="text" class="form-control" value="Default" id="institute"
                style="background-color: #F7FAFC ;color: #8898AA; box-shadow: 1px 2px 5px #8898AA">
        </div>
        <br />
        <br />
        <div class="form-group col-md-12">
            <label for="course" style="color: #172B4D">Course</label>
            <input type="text" class="form-control" value="Default" id="course"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <br />
        <br />
        <div class="form-group col-md-6">
            <label for="courseduration" style="color: #172B4D">Course Duration</label>
            <input type="text" class="form-control" value="Default July 2019 to June 2023" id="courseduration"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <div class="form-group col-md-6">
            <label for="enrollment" style="color: #172B4D">Enrollment ID</label>
            <input type="text" class="form-control" value="Default don't have" id="enrollment"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px solid red; box-shadow: 1px 2px 5px">
        </div>
        <br />
        <div class="form-group col-md-4">
            <label for="shift1" style="color: #172B4D">Shift</label>
            <input type="text" class="form-control" value="Morning" id="shift1"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>
        <div class="form-group col-md-4">
            <label for="home" style="color: #172B4D">Default Place</label>
            <input type="text" class="form-control" value="Home" id="home"
                style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
        </div>

    </div>
</div>
<script src="/scripts/admin/commonInfo.js" defer></script>
<script src="/scripts/admin/userinfo1.js" defer></script>

<%- include ("../partials/admin_footer") %>