<%- include ("../partials/admin_header") %>

<div class="container1" id="userinfocontent">
    <div id="allcontent">
        <img id="userimage" src="/images/admin/Mask%20Group%201@2x.png">
        <h4>User1</h4>
        <p>Laxmi Nagar,Delhi</p>
        <input type="button" class="btn" id="accept" value="Accept">
        <input type="button" class="btn" id="reject" value="Reject">
        <hr class="hrlines">

        <p id="year">2020<br /><span id="admissionyear">Admission year</span></p>
        <p id="third">Morning<br /><span id="currentsemester">Admission year</span></p>
        <p id="morning">Third<br /><span id="shift">Admission year</span></p>
        <hr class="hrlines">
        <p id="branchname">Computer Science<br /><span id="collegename">Guru Nanak Dev Institute Of Technology</span>
        </p>
    </div>
</div>
<div class="container1" id="userdetailcontent">
    <div class="carousel slide" id="mycarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#mycarousel" data-slide-to="0"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <p id="personal">Personal</p>
                <a href="usersinfo1.html"><input type="button" class="btn" id="next" value="Next"></a>
                <hr id="straight">
                <div class="form-group col-md-6">
                    <label for="mobileno" style="color: #172B4D">Mobile</label>
                    <input type="text" class="form-control" value="+91 1234567890" id="mobileno"
                        style="color: #3bf127;background-color: white; border: 1px solid #3bf127; box-shadow: 1px 2px 5px #8898AA">
                </div>
                <div class="form-group col-md-6">
                    <label for="email" style="color: #172B4D">Email address</label>
                    <input type="email" class="form-control" value="Example@gmail.com" id="email"
                        style="color: red;background-color: white; border: 1px solid red ; box-shadow: 1px 2px 5px #8898AA">
                    <p id="notverified">Not verified</p>
                </div>
                <br />
                <div class="form-group col-md-6">
                    <label for="user1" style="color: #172B4D">First Name</label>
                    <input type="text" class="form-control" value="User1" id="user1"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname" style="color: #172B4D">Last Name</label>
                    <input type="text" class="form-control" value="Last name" id="lastname"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <br />
                <div class="form-group col-md-6">
                    <label for="fathername" style="color: #172B4D">father's First Name</label>
                    <input type="text" class="form-control" value="User1's father" id="fathername"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname" style="color: #172B4D">Last Name</label>
                    <input type="text" class="form-control" value="Last name" id="lastname"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <br />
                <div class="form-group col-md-4">
                    <label for="state" style="color: #172B4D">State</label>
                    <input type="text" class="form-control" value="State" id="state"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <div class="form-group col-md-4">
                    <label for="city" style="color: #172B4D">City</label>
                    <input type="text" class="form-control" value="City" id="city"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
                <div class="form-group col-md-4">
                    <label for="dob" style="color: #172B4D">Date of Birth</label>
                    <input type="text" class="form-control" value="DD-MM-YYYY" id="dob"
                        style="color: #8898AA;background-color: #F7FAFC; border: 1px; box-shadow: 1px 2px 5px">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("../partials/admin_footer") %>