<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/verification_styling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<img src="/images/Polygon%201.png" id="polygon">
<img src="/images/Path%201.png" id="path">

<body>
    <div id="container">
        <img src="/images/Intersection%201.png" id="intersectionpolygon">
        <h1 id="verificationprocess">Verification Process</h1>
        <p id="detailstoverify">Enter your mobile number to verify detail

            <div class="selectbox">
                <div class="options-container">
                    <div class="options">
                        <label for="india">India</label>
                        <input type="radio" class="radio" id="india" name="country">

                    </div>
                    <div class="options">
                        <label for="Bangladesh">Bangladesh</label>
                        <input type="radio" class="radio" id="Bangladesh" name="country">


                    </div>
                    <div class="options">
                        <label for="Bhutan">Bhutan</label>
                        <input type="radio" class="radio" id="Bhutan" name="Bhutan">
                    </div>
                    <div class="options">
                        <label for="UK">UK</label>
                        <input type="radio" class="radio" id="UK" name="UK">
                    </div>
                    <div class="options">
                        <label for="England">England</label>
                        <input type="radio" class="radio" id="England" name="England">
                    </div>

                </div>

            </div>
            <div class="selected">
                <img src="/images/Polygon%203.png" id="downarrow">
                <img src="/images/Polygon%204.png" id="uparrow">
                <ul id="list1">
                    <li id="icon"><span id="span1"><img src="/images/NoPath%20-%20Copy%20(7).png"></span></li>
                    <li id="country">India</li>



                </ul>
            </div>

            <div id="codeandnumber">
                <ul id="list2">
                    <li id="code"><span id="numcode">+91</span></li>
                    <li id="phoneno">
                        <input type="text" name="phoneno" placeholder="Phone No." id="inputphoneno">
                    </li>
                </ul>
            </div>


            <div id="wrap2">
                <a href="enterotp.html">
                    <input type="button" value="GET OTP" id="getotp" name="getotp">
                </a>

            </div>



            <div id="gradient">
                <img src="/images/monktree%20white.png" id="brandlogo">
                <img src="/images/Intersection%202.png" id="intersectionpath">
                <img src="/images/Intersection%203.png" id="intersectionpath2">
                <h1>Just one more <br />step</h1>
                <p>Your data is safe with us <br /> see our privacy policy</p>
                <a href="#"><!--"dashboard.ejs"-->
                    <input type="button" value="SKIP FOR NOW" id="skip" name="skip">
                </a>
            </div>
            <p id="error"></p>
    </div>
</body>
<script src="/js/verification.js"></script>












</html>