<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/cs/signup_styling.css">
</head>
<img src="/Images/Polygon%201.png" id="polygon">  
<img src="/Images/Path%201.png" id="path">

<body>
    <div id="container">
        <img src="/Images/Intersection%201.png" id="intersectionpolygon">
        <h1 id="createaccount">Create Account</h1>




    <form method="post">
            <div id="wrap">
                <input type="username" name="username" id="username" placeholder="Username" maxlength="100">
                <input type="email" name="email" id="email" placeholder="Email" maxlength="100">
                <br />
                <input type="password" name="password" id="password" placeholder="Password" maxlength="100">
            </div>
       
        <div id="wrap2">
            <!--<a href="verification.html">
                <input type="button" value="SIGN UP" id="signup" name="signup">
            </a>-->
            <input type="button" value="SIGN UP" id="signup" name="signup">

        </div>
    </form>



        <div id="gradient">
            <img src="/Images/monktree%20white.png" id="brandlogo">
            <img src="/Images/Intersection%202.png" id="intersectionpath">
            <img src="/Images/Intersection%203.png" id="intersectionpath2">
            <h1>Welcome Back!</h1>
            <p>Please login with your credentials</p>
            <a href=" # ">
                <input type="button" value="SIGN IN" id="signin" name="signin">

            </a>


        </div>





    </div>




</body>



</html>