<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/cs/styling.css">
</head>
<img src="/Images/Polygon%201.png" id="polygon">
<img src="/Images/Path%201.png" id="path">

<body>
    <div id="container">
        <img src="/Images/orange.png" id="brandlogo">
        <img src="/Images/Intersection%202.png" id="intersectionpath">
        <h1 id="loginquote">Log in to Monktree</h1>
        <form method="post">
            <div id="wrap">
                <input type="email" name="email" id="email" placeholder="Email" maxlength="100">
                <br />
                <input type="password" name="password" id="password" placeholder="Password" maxlength="100">
            </div>
        </form>
        <div id="wrap2">
            <p id="forget">Forgot your password?<span id="reset"><a href="#">Reset</a></span></p>
            <input type="button" value="SIGN IN" id="signin" name="signin">


        </div>

        <div id="gradient">
            <img src="/Images/Intersection%201.png" id="intersectionpolygon">
            <h1>Hello, Friend!</h1>
            <p>Enter your details and start <br /> journey with us</p>
            <a href="signup.html">
                <input type="button" value="SIGN UP" id="signup" name="signup">

            </a>


        </div>





    </div>




</body>

</html>