<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Admin dashboard
    </title>
    <link rel="stylesheet" href="/css/admin/styling.css">
    <link href="/css/admin/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/css/jquery.dataTables.min.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid" id="header">
        <div class="notificationwrap">
            <p id="admin"><strong> <span id="admin-username"> Admin </span> </strong></p>
            <hr class="line" id="line1">
            <img class="img-responsive" src="/images/admin/icons8-gear-100.png" id="gear">
            <hr class="line" id="line2">
            <img class="img-responsive" src="/images/admin/icons8-notification-100.png" id="notify">
            <hr class="line" id="line3">
            <img class="img-responsive" src="/images/admin/icons8-logout-rounded-down-100.png" id="logout">
        </div>


    </div>
    <div class="col-md-4" id="brand"></div>
    <a href="#"><img id="monktree" src="/images/admin/Group%2016.png"></a>
    <div class="listitems">
        <ul class="list-unstyled">
            <li><a class="btn btn-link" href="/admin" id="dash"><img src="/images/admin/Group%2032.png"
                        id="dashicon">Dashboard</a></li>
            <li><a class="btn btn-link" href="/admin/customers" id="customer"><img
                        src="/images/admin/icons8-customer-64%20(1).png" id="customericon">Customers</a></li>
            <li><a class="btn btn-link" href="#" id="finance"><img src="/images/admin/icons8-profit-100.png"
                        id="financeicon">Finance</a></li>
            <li><a class="btn btn-link" href="#" id="inventory"><img src="/images/admin/icons8-new-product-100.png"
                        id="inventoryicon">Inventory</a></li>
            <li><a class="btn btn-link" href="#" id="invoice"><img src="/images/admin/icons8-file-invoice-96.png"
                        id="invoiceicon">Invoices</a></li>
            <li><a class="btn btn-link" href="#" id="manage"><img src="/images/admin/icons8-conference-96.png"
                        id="manageicon">Management</a></li>
            <li><a class="btn btn-link" href="#" id="support"><img src="/images/admin/icons8-chat-message-100.png"
                        id="supporticon">Support</a></li>
        </ul>
        <hr id="endline">
    </div>