<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-storage.js" defer></script>

<script src="/scripts/config.js" defer></script>
<script src="/scripts/logout.js" defer></script>
<script src="/scripts/listener.js" defer></script>

</body>

</html>