html{
    background-color: #f5f5f5;
    overflow: hidden;
}
body{
    font-family: sans-serif;
}
#header{
    height: 50px;
    width: 1700px;
    background-color: white;
    position: relative;
    top: -10px;
    left: -10px;
    box-shadow: 1px 1px 12px 1px grey;
}
#buttons{
    position: absolute;
    left: 1235.1px;
    top: -40px;
}

#caste{
    margin-right: 13px;
    font-weight: bold;
}
#buttons ul li{
    display: inline;
    border-right: 1px solid grey;
}
#button1{
    width: 45px;
    height: 44px;
    position: relative;
    background-color: white;
    border: 1px;
    padding-left: 0px;
    left: -9px;
    top: 23px;
    margin-right: 2px;
    
}
#button1:hover{
    cursor: pointer;
}
#button2{
    width: 45px;
    height: 40px;
    position: relative;
    top: 19px;
    left: -4px;
    background-color: white;
    border: 1px;
    margin: none;
    padding-left: 0px;
    
}
#button2:hover{
    cursor: pointer;
}
#button3{
    width: 45px;
    height: 43px;
    position: relative;
    top: 17px;
    background-color: white;
    border: 1px;
    margin: none;
    padding-left: 0px;
    
}
#button3:hover{
    cursor: pointer;
}
#gear{
    width: 55px;
    height: 55px;
}
#bell{
    width: 50px;
    height: 45px;
    margin-right: 
}
#logout{
    width: 45px;
    height:45px;

}
#bellnot{
    position: absolute;
    left: 225px;
    top: 44px;
    z-index: 2;
    
}
#namenot{
    position: absolute;
    top: 45px;
    left: 115px;
    z-index: 2;
    
}
#list2{
    margin-left: 5px
}
#list3{
    margin-right: 5px
}

#left{
    position: relative;
    width: 300px;
    height: 1000px;
    background-color: #324370;
    z-index: 2;
    top: -60px;
    left: -8px;
    
}
#brandname{
    width: 160px;
    height: 36px;
    position: absolute;
    left: 60px;
    top: 80px
    
}
#listdiv{
    position: absolute;
    top: 150px;
    left: -54px
}
#listdiv ul{
    list-style: none;
}
#listdiv ul li{
    margin-bottom: 15px;
    width: 305px;
    height: 25px;
    padding: 5px;
   
}
#listdiv ul li:last-child{
   position: relative;
    top: -10px
}
#listdiv ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
     
}
#listdiv ul li:hover{
    background: linear-gradient(to left ,#FF0A71,#FFB906);
}
#dashboard{
    position: relative;
    top: 3px;
    right: 3px;
    margin-left: 90px;
}
#bag{
    position: relative;
    right: 9px;
        margin-left: 90px;

}
#gift{
    position: relative;
    right: 9px;
        margin-left: 90px;

}
#notes{
    position: relative;
    left: -2px;
    margin-left: 80px;
    top: 4px

}
#line{
    position: absolute;
    top: 500px;
    width: 298px;
}
#listdiv2{
    position: absolute;
    top: 550px;
    left: -70px
    
}
#listdiv2 ul{
    list-style: none;
}
#listdiv2 ul li{
    margin-bottom: 15px;
    width: 319px;
    height: 25px;
    padding: 5px;
    text-align: center;
    
   
}

#listdiv2 ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
     
}
#listdiv2 ul li:hover{
    background: linear-gradient(to left ,#FF0A71,#FFB906);
}
#container{
    position: relative;
    width: 1030px;
    height: 550px;
    left: 400px;
    bottom: 940px;
    background-color: white;
    box-shadow: 1px 1px 7px 1px grey;
    border-radius: 10px;
}
#yourbag{
    position: absolute;
    left: 70px;
    top: 10px;
    font-weight: bold;
    color: #5C5C5C;
    font-size: 20px
}
#item{
    position: absolute;
    left: 610px;
    top: 10px;
    font-weight: bold;
    color: #5C5C5C;
    font-size: 20px;
    
}
    
   


#bluediv{
   position: relative;
    z-index: 2;
    width: 300px;
    height: 550px;
    background-color: #1A95FF;
    left:730px;
    border-radius: 0px 10px 10px 0px
     
}
#itemno{
    color: #FF0A71;
}
#line2{
    position: absolute;
    width: 550px;
    left: 100px;
    top: 60px;
}
#dropdowns{
    position: absolute;
    left: 70px;
    top: 100px;
}
#dropdowns select{
    width: 600px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e4dcdd;
    font-size: 17px;
    padding-left: 20px;
    color: gray;
}
#bagsummary{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 19px;
}
#line3{
    position: absolute;
    top: 60px;
    width: 250px;
    left: 25px
}
#summparyitem{
    position: absolute;
    color: white;
    top: 80px;
    left: 30px;
    font-size: 13px;
    font-weight: bold;
}
#amount{
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    top: 80px;
    left: 230px
    
}
#shipping{
    position: absolute;
    top: 110px;
    left: 30px
}
#shipping p{
    color: white;
    font-size: 13px;
    font-weight: bold;
}
#shipping select{
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid #e4dcdd;
    padding-left: 5px;
    color: #a09f96;
}
#line4{
     position: absolute;
    top: 330px;
    width: 250px;
    left: 25px
}
#totalcost{
     position: absolute;
    color: white;
    top: 350px;
    left: 30px;
    font-size: 13px;
    font-weight: bold;
    
}
#totalcostprice{
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    top: 350px;
    left: 230px
}
#topay{
     position: absolute;
    color: white;
    top: 380px;
    left: 30px;
    font-size: 13px;
    font-weight: bold;
}
#payingamount{
     position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    top: 380px;
    left: 250px
}
#checkout{
    position: absolute;
    left: 56px;
    top: 430px;
    width: 180px;
    height: 40px;
    background-color: #f5f5f5;
    border: 1px;
    border-radius: 3px;
    color: #1A95FF;
    font-size: 18px;
    font-weight: bold;
    
    
}
#checkout:hover{
    cursor: pointer;
    
}











